*{
    padding: 0;
    margin: 0;
}

:root {
    --marvel-red: #ED1D24;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-size: 5.5rem;
}

ul{
    list-style-type: none;
}

section{
    min-height: 100vh;
    /* overflow: hidden; */

    display: flex;
    flex-direction: column;
}

header{
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    padding: 0 40px;
    position: fixed;
}

header > nav{
    height: 80px;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

header > nav ul li{
    display: inline-block;

    font-size: 1.5rem;
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    margin: 0 20px;

    cursor: pointer;

    transition: color 0.3s ease;
}


header > nav ul li:hover{
    color: var(--marvel-red);
}

header > nav ul li:last-of-type{
    margin-right: 0;
}

pre{
    color: #fff;
}

.start{
    padding: 0 40px 0 40px;

    justify-content: center;
}

.start blockquote{
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

main{
    
}

.intro{
    background-color: var(--marvel-red);
    position: relative;
    z-index: 1;

    height: 564px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .27;
    background-color: var(--marvel-red);
    background-image: url('/img/comics-bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.intro h1{
    bottom: 0;
    left: 50%;

    transform: translate(-50%, 45%);
    white-space: nowrap;
}

.intro > *{
    position: absolute;
}

.intro img{
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    height: auto;
}

.intro__bg{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    font-size: 0.5rem;

    opacity: 0.5;
}

.intro__name{
    color: #fff;
    font-size: 16rem;
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

    white-space: nowrap;
}

.intro blockquote{
    color: #fff;
}

h1{
    color: var(--marvel-red);
    text-transform: uppercase;
    font-size: 9rem;
}

.note{
    display: inline-block;
    border-left: 8px solid var(--marvel-red);

    padding-left: 20px;
}

.note h2{
    margin-top: -15px;
}

.note p{
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.4rem;

    color: #696969;
}

.about-right__up img{
    width: 340px;
    height: 500px;

    object-fit: cover;
}


.about-spec{
    display: inline-block;
}

.about-spec li h3{
    color: #000000;
    text-transform: uppercase;
    font-size: 2.4rem;
}

.about-spec li div{
    font-size: 1.5rem;
    color: var(--marvel-red);
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-spec li > *{
    text-align: right;
}

.about article{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.about article > *{
    flex: 1;
}

.about__left{
    background-image: url('../img/man-side.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: relative;
}

.about__left .note{
    position: absolute;
    top: 10%;
    right: 10%;
}

.img-container{
    position: relative;

    border: 8px solid var(--marvel-red);
}

.about__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__right .note{
    margin-top: 10px;
}

.about-right__up{
    display: flex;
    flex-direction: row;

    padding: 0 40px 0 0;
}

.about-right__up .about-spec{
    margin-left: 50px;
}

footer{
    height: 100px;
    background: var(--marvel-red);
    color: #fff;
    line-height: 100px;
    text-align: center;
}

footer span{
    font-family: 'stark';
    background: #fff;
    color: var(--marvel-red);
    font-size: 2rem;
    padding: 0 5px;
}


.armor{
    align-items: center;
    justify-content: center;
}

.table{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-auto-rows: 100px;

    margin-bottom: 20px;
}

.table-row{
    display: contents;
}

.table-row:nth-child(2n) .table-item{
    color: #000;
}

.table-row:nth-child(2n+1) .table-item{
    background-color: var(--marvel-red);
    color: white;
}

.table-row:nth-child(1) .table-item{
    color: #000;
    background-color: transparent;
}

.table-item{
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
    
    align-self: center;
    gap: 0;

    box-sizing: border-box;

    height: 100%;
}

.table-item > img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center top;
    margin-top: -10px;
    margin-bottom: -10px; 
}







@media (max-width: 1200px) {
    .intro__name{
        font-size: 14rem;
    }

    .about__left .note{
        top: 35%;
        right: 10%;
    }

}

@media (max-width: 992px) {

    main{
        padding-top: 100px;
    }

    section{
        min-height: initial;
    }

    .about{
        margin: 100px 0;
    }

    .intro img{
        width: 600px;
    }

    article{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .note{
        border-left: none;
        
        margin: 0 10px;
    }

    .intro__name{
        font-size: 10rem;
    }

    .img-container{
        display: none;
    }

    .about__left{
        flex: none !important;
        height: 300px;

        align-items: flex-end;
        justify-content: center;
    }

    
    .about__right{
        flex-direction: row-reverse;
        flex: none !important;

        margin-top: 10px;
    }

    .about-spec li{
        display: inline-block;

        margin: 0 10px;
    }

    blockquote{
        padding: 6px;
        font-size: 3rem !important;
    }

    .about__left .note{
        position: static;
    }

    .about__right .note{
        margin-left: 10px;
    }

    .about-spec{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    

    /* .note h2{
        font-size: 8rem;
    }

    .note p{
        font-size: 3rem;
    } */
}

@media (max-width: 768px) {
    .start{
        padding: 0;
    }
    
    .about{
        margin: 20px 0;
    }

    .intro img{
        width: 500px;
    }

    .intro__name{
        font-size: 8rem;
    }

    .about-right__up{
        padding: 0;
    }

    .intro h1{
        font-size: 5rem;
    }

    .about__left{
        align-items: center;
        background-image: none;
    }

    .about__left .note{
        padding: 0;
        margin: 0;
    }

    .about__right{
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-spec{
        align-items: center;
        justify-content: center;

        margin: 25px 0 !important;
    }

    blockquote{
        font-size: 2rem !important;
    }

    .note{
        padding: 0 !important;
        margin: 0 !important;
    }

    .note > *{
        text-align: center;
    }
}

@media (max-width: 576px) {

    .table{
        width: 100%;
    }

    .intro__name{
        font-size: 5rem;
    }
}