*{
    padding: 0;
    margin: 0;
}

:root {
    --marvel-red: #ED1D24;
}

html{
    font-size: 16px;
}

h1, h2, h3, h4{
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-size: 4rem;
}

section{
    min-height: 100vh;
    overflow: hidden;
}

header{
    
}

header > nav ul li{
    display: inline-block;

    font-size: 1rem;
}

pre{
    color: #fff;
}

.start{
    padding: 0 40px 0 40px;
}

.intro{
    background-color: var(--marvel-red);
    position: relative;
    z-index: 1;

    height: 564px;
}


.intro::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4;
    background-color: var(--marvel-red);
    background-image: url('/img/comics-bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.intro__name{
    color: #fff;
    font-size: 14rem;
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.intro blockquote{
    color: #fff;
}

.intro h1{
    color: var(--marvel-red);
    text-transform: uppercase;
    font-size: 3rem;
}

.note{
    
}

.note p{
    width: 300px;
}

.about-right__up img{
    width: 340px;
    height: 500px;

    object-fit: cover;
}


.about-spec{
    display: inline-block;
}

.about-spec li h3{
    color: var(--marvel-red);
    text-transform: uppercase;
}

.about-spec li > *{
    text-align: right;
}