
.note{
    display: inline-block;
    border-left: 8px solid var(--marvel-red);

    padding-left: 20px;
    padding-right: 20px;
}

.note h2{
    margin-top: -15px;

    margin-bottom: 10px;
}

.note p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.4rem;

    color: #696969;
}

.note--right{
    border-left: none;
    border-right: 8px solid var(--marvel-red);
}

.note--right > *{
    text-align: right;
}

.about .about-spec{
    align-self: center;
}

.about-spec{
    position: relative;
    display: flex;
    
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
}

.about-spec::after{
    position: absolute;
    content: '';
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-color: var(--marvel-red);
}

.about-spec li{
    padding: 4px 15px;
    position: relative;
    
    cursor: pointer;

    transition: background-color 0.1s linear;
}

.about-spec li:hover{
    background-color: rgb(228, 228, 228);
}

.about-spec li::after{
    content: '';

    display: inline-block;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 2px;
    height: 80%;

    background-color: #000;
}

.about-spec li:last-of-type::after{
    display: none;
}

.about-spec li h3{
    color: #7c7c7c;
    text-transform: uppercase;
    font-size: 1.6rem;

    margin: 5px 0 5px 0;
    font-weight: 400;
}

.about-spec li div{
    font-size: 1.5rem;
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
}

.about-spec li > *{
    text-align: center;
}

.about{
    padding-top: 100px;
}


.img-container{
    position: relative;

    border: 8px solid var(--marvel-red);
}

.about-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(500px, auto);
}

.about-article > div{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1000px;
}

.about-article div:nth-child(1){
    justify-content: flex-start;
}

.about-article div:nth-child(2){
    justify-content: flex-end;
}

.about-article .note{
    margin: 20px 0;
}

.about-article img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .about-article{
        grid-template-columns: 1fr;
    }
}