.armor{
    align-items: center;
    justify-content: center;
}

.armor h2{
    margin-top: 12px;
}

.table{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;

    margin-bottom: 20px;
}

.table-row{
    display: contents;
}

.table-row:nth-child(2n) .table-item{
    color: #000;
}

.table-row:nth-child(2n+1) .table-item{
    background: #7c7c7c;
    background: #fafafa;
}

.table-row:nth-child(1) .table-item{
    color: rgb(200 200 200);
    background-color: transparent;
}

.table-item{
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    align-self: center;
    gap: 0;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    position: relative;

    text-transform: lowercase;

    
}

.table-item > span{
    position: absolute;
    color: #fff;
    font-size: 2rem;
}

.table-item > img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center top;
}


.users span{
    color: #000 !important;
}

.users__error{
    font-family: 'stark', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-transform: uppercase;

    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;

    justify-content: center;

    align-items: center;

    grid-row-start: 2;
    grid-row-end: 5;

    display: none;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .table-item{
        font-size: 1.1rem;
    }

    .table-item > span{
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .armor h2{
        align-self: auto;
    }

    .quote blockquote{
        width: 95%;
    }

    .armor{
        padding: 0 !important;
    }

    .table{
        width: 100%;
    }

    .table-item{
        font-size: 1.1rem;
    }
}