.loader{
    width: 100%;
    height: 100%;

    background-color: #fff;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.loader path, .loader polygon{

}

.loader > svg > g{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: #000;
    stroke-width: 7px;

    animation: infinite dash 10s linear;
}


@keyframes dash {
    to{
      stroke-dashoffset: 0;
    }
}