.quote{
    background: url('../../../img/broken-helmet.jpg');
    min-height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
}

.quote blockquote{
    color: white;
    font-size: 2.5rem;
    width: 60%;
    font-weight: bold;
    text-align: center;
}

.quote--bottom{
    min-height: 400px;
    background-position-y: top;
    background-image: url('../../../img/iron-man-bottom.jpg');
}